body {
    height: auto !important;
}

header {
    position: fixed;
    background: rgb(42, 45, 47);
    z-index: 3;
    width: 100%;
    height: 60px;
}

.search {
    width: 40%;
    height: 35px;
    display: block;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    padding: 0 10px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 45%;
}

.hidden {
    display: none;
}

#card-list {
    padding: 60px 0 60px 15px;
    margin: 0;
}

.card {
    transition: 0.5s;
} 

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.card > img {
    margin-left: auto;
    transform: rotateY(0deg);
    transition: transform 1s;
}

.card:hover > img {
    transform: scale(1.1) rotate(10deg);
}

.pokemon-list > li {
    padding: 15px 15px 0 0;
}

.pokemon-name {
    text-transform: capitalize;
}

.badge {
    text-transform: capitalize;
}

.loader {
    margin: 5% auto;
    background: url("../../assets/pokeball_gray.png");
    height: 100px;
    width: 100px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.error {
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 1490px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 996px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #card-list {
        justify-content: center;
        margin: 0 10%;
    }
}

@media (max-width: 680px) {
    .pokemon-list {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    #card-list {
        justify-content: center;
        margin: auto;
    }

    header {
        height: 6%;
    }

    .search {
        margin-top: 2%;
        height: 35px;
    }
}

@media (min-width: 1490px) {
    
    .pokemon-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .search {
        width: 30%;
    }

    .search:focus {
        width: 32%;
    }
}