.container {
    padding: 25px 250px;
}

.pokemon-list {
    list-style: none;
}

.pokemon-info {
    margin-left: 80px;
}

.info, .stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
    height: auto;
    background-color: white;
}

.stats {
    padding-bottom: 20px;
}

.pokemon-data, .pokemon-stats {
    font-size: 18px;
}

.pokemon-data ul, .pokemon-stats ul {
    padding: 0;
}

.pokemon-data li, .pokemon-stats li {
    padding-top: 10px;
}

.pokemon-data b {
    display: inline-block;
    width: 100px;
    font-size: 14px;
}

.pokemon-stats b {
    display: inline-block;
    width: 150px;
    font-size: 16px;
}