* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 30px 0;
    font-size: 26px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 15px 0;
}

ul {
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.card {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.pokemon-info {
    display: flex;
    flex-direction: column;
}

.pokemon-type {
    display: flex;
    align-items: center;
    padding: 0;
    color: #fff;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 25px;
    width: 100px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
}

.pokemon-type li img {
    display: inline-block;
    margin-right: 10px;
    height: 100%;
    width: 20px;
}

.card > img {
    height: 192px;
    width: 192px;
}

.pokemon-number {
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.pokemon-name {
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
}